body {
	margin: 0;
	padding: 0;
}

.Link {
	margin: 0;
	font-weight: 400;
	font-size: 0.875rem;
	line-height: 1.43;
	color: #1976d2;
	-webkit-text-decoration: underline;
	text-decoration: underline;
	text-decoration-color: rgba(25, 118, 210, 0.4);
}

.Link:hover {
	text-decoration-color: #1976d2;
}
